---
# Custom css
---

$text-color:       #f8f8f2;
$background-color: #282a36;
$brand-color:      #bd93f9;
$accent-color:     #835e07;

$base-font-family: 'Iosevka Web', sans-serif !default;
$mono-font-family: 'Iosevka Web', monospace !default;

@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import url('https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.1/iosevka/iosevka.min.css');

$base-font-size:   18px !default;
$mono-font-size:   18px !default;
$small-font-size:  $base-font-size * 0.9 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@import "minima";

html {
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $brand-color;
}

.title {
    font-family: $base-font-family;
    font-weight: bold;
}

a:visited {
    color: $brand-color;
}

img {
    border-radius: 0%;
    border: 5px groove $accent-color;
}

ol > li {
  font-family: $base-font-family;
  line-height: 1.4;
  padding-bottom: 1.2em;
}

u {
  color: #ff79c6;
}

code {
  background-color: #282a36;
  border: 0;
}

.site-nav {
    .page-link {
        font-family: $mono-font-family;
        font-size: $mono-font-size;
        color: $text-color;
    }
}

.site-title {
    font-family: $mono-font-family;
    color: $text-color !important;
}

.site-footer {
    font-family: $mono-font-family;
    font-size: $mono-font-size;
    color: $text-color;
    border-top: none;
}

.site-header {
    border-top: none;
    border-bottom: none;
}

ol > li > a > i {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ai-arxiv {
  color: #f1fa8c ;
}

.ai-doi {
  color: #ffb86c;
}

ol > li > a > .fa-github {
  color: #8be9fd ;
}

.ai-open-access {
  color: #50fa7b;
}

.ai-open-data {
  color: #ff5555;
}

.ai-zenodo {
  color: #ff5555;
}

ol, ul {
  list-style-position: inside;
}

.footer-col {
    width: -webkit-calc(100%);
    width: calc(100%);
}

.footer-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    margin: 0 auto;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

:root {
    --color-bg: #0a0a1a;
    --color-indigo: rgba(75, 0, 130, 0.6);
    --color-navy: rgba(0, 0, 128, 0.6);
    --color-midnight-blue: rgba(25, 25, 112, 0.6);
    --color-slate-blue: rgba(72, 61, 139, 0.6);
    --color-medium-slate-blue: rgba(106, 90, 205, 0.6);
    --color-blue-violet: #310E50;
    --color-dodger-blue: #13487D;
    --color-royal-blue: #4C3175;
    --color-medium-purple: #554C86;
    --color-dark-blue: rgba(0, 0, 139, 0.4);
    --color-medium-orchid: #4B2E86;
    --color-text: #e6e6fa;
}

.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    animation: backgroundShift 40s ease-in-out infinite alternate;
    z-index: 1;
}

.background::before,
.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        radial-gradient(circle at 10% 10%, var(--color-indigo) 0%, transparent 30%),
        radial-gradient(circle at 90% 20%, var(--color-midnight-blue) 0%, transparent 30%),
        radial-gradient(circle at 30% 40%, var(--color-navy) 0%, transparent 30%),
        radial-gradient(circle at 70% 60%, var(--color-slate-blue) 0%, transparent 30%),
        radial-gradient(circle at 50% 50%, var(--color-medium-slate-blue) 0%, transparent 30%),
        radial-gradient(circle at 20% 80%, var(--color-blue-violet) 0%, transparent 30%),
        radial-gradient(circle at 80% 90%, var(--color-dodger-blue) 0%, transparent 30%),
        radial-gradient(circle at 40% 70%, var(--color-royal-blue) 0%, transparent 30%);
    background-size: 200% 200%;
    background-position: 0 0;
    mix-blend-mode: screen;
    opacity: 0.7;
}

.background::before {
    filter: blur(30px);
    animation: gradientShift1 25s ease-in-out infinite alternate;
}

.background::after {
    filter: blur(40px);
    animation: gradientShift2 35s ease-in-out infinite alternate;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        radial-gradient(circle at 60% 30%, var(--color-medium-purple) 0%, transparent 40%),
        radial-gradient(circle at 20% 50%, var(--color-dark-blue) 0%, transparent 40%),
        radial-gradient(circle at 80% 70%, var(--color-medium-orchid) 0%, transparent 40%);
    background-size: 200% 200%;
    mix-blend-mode: soft-light;
    animation: gradientShift3 30s ease-in-out infinite alternate;
}

@keyframes backgroundShift {
    0% {
        transform: translateX(-5%) translateY(-5%) rotate(-3deg);
    }

    100% {
        transform: translateX(5%) translateY(5%) rotate(3deg);
    }
}

@keyframes gradientShift1 {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes gradientShift2 {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes gradientShift3 {
    0% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

body {
    margin: 10px;
    margin-left: 2rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

pre,
body,
.my-footer {
    font-family: Iosevka Web, monospace;
}

.my-footer {
    width: 100%;
    margin-top: 3rem;
    font-size: 0.8rem;
    color: dark grey;
}

.my-footer>p {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

@media (prefers-color-scheme: dark) {

    body,
    footer {
        color: #dcdcdc;
        background-color: #161625;
    }

    a {
        color: white;
    }
}

@media (prefers-color-scheme: light) {

    body,
    footer {
        color: black;
        background-color: AntiqueWhite;
    }

    a {
        color: black;
    }
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "◉";
    padding-right: 5px;
}
</style>
