---
# Custom css
---

$text-color:       #f8f8f2;
$background-color: #282a36;
$brand-color:      #bd93f9;
$accent-color:     #835e07;

$base-font-family: 'Iosevka Web', sans-serif !default;
$mono-font-family: 'Iosevka Web', monospace !default;

@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
@import url('https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.1/iosevka/iosevka.min.css');

$base-font-size:   18px !default;
$mono-font-size:   18px !default;
$small-font-size:  $base-font-size * 0.9 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@import "minima";

html {
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $brand-color;
}

.title {
    font-family: $base-font-family;
    font-weight: bold;
}

a:visited {
    color: $brand-color;
}

img {
    border-radius: 0%;
    border: 5px groove $accent-color;
}

ol > li {
  font-family: $base-font-family;
  line-height: 1.4;
  padding-bottom: 1.2em;
}

u {
  color: #ff79c6;
}

code {
  background-color: #282a36;
  border: 0;
}

.site-nav {
    .page-link {
        font-family: $mono-font-family;
        font-size: $mono-font-size;
        color: $text-color;
    }
}

.site-title {
    font-family: $mono-font-family;
    color: $text-color !important;
}

.site-footer {
    font-family: $mono-font-family;
    font-size: $mono-font-size;
    color: $text-color;
    border-top: none;
}

.site-header {
    border-top: none;
    border-bottom: none;
}

ol > li > a > i {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ai-arxiv {
  color: #f1fa8c ;
}

.ai-doi {
  color: #ffb86c;
}

ol > li > a > .fa-github {
  color: #8be9fd ;
}

.ai-open-access {
  color: #50fa7b;
}

.ai-open-data {
  color: #ff5555;
}

.ai-zenodo {
  color: #ff5555;
}

ol, ul {
  list-style-position: inside;
}

.footer-col {
    width: -webkit-calc(100%);
    width: calc(100%);
}

.footer-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    margin: 0 auto;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
