<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" style="height: 500px;">

  <head>
    {% include head.html %}
    {% seo %}

    <style>
        ol { list-style-position: outside; }
    </style>
  </head>

  <body>
    {% include header.html %}

    <div class="background"></div>
    <div class="overlay"></div>
    <div class="container">
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    </div>

  </body>

</html>
